.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  &Links {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    font-size: 2rem;
  }
}
